<div class="container mx-auto px-40 mt-20">
  <div class="bg-white shadow-md rounded-md px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="-mx-3 md:flex mb-6">
      <div class="flex justify-center md:w-full gap-4">
        <button (click)="signIn()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
          Giriş Yap
        </button>
        <button (click)="signUp()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
          Kayıt Ol
        </button>
      </div>
    </div>
    <div class="flex justify-center">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </div>
  </div>
</div>
