<div class="container mx-auto px-40 mt-12">
  <div class="w-full bg-white shadow-md rounded-md px-16 pt-6 pb-8 mb-4 divide-y-2">
    <div class="grid justify-items-end">
      <label for="season-select" class="font-quicksand leading-6 text-gray-900 gap-4">
        Sezon
      </label>
      <div class="mt-4">
        <select id="season-select" name="season-select" [(ngModel)]="selectedYear" (change)="onSelectedYear(selectedYear)" class="block w-48 rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
          <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
        </select>
      </div>
    </div>
    <table class="items-center bg-transparent w-full border-collapse mt-4 text-center">
      <thead>
      <tr>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Oyuncu
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
          Doğum Tarihi
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
          Ülke
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
          Boy
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
          Kilo
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players.response">
        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-700 gap-1 flex flex-row items-center">
          <button (click)="playerPage(player.id)" class="hover:text-blue-400">{{player.firstname}} {{player.lastname}}</button>
        </th>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center">
          {{player.birth.date}}
        </td>
        <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{player.birth.country}}
        </td>
        <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{player.height.meters}} m
        </td>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{player.weight.kilograms}} kg
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

