<div class="grid grid-cols-1 mt-12 mb-4">
  <div *ngIf="fixtures2$ | async as fixtures2">
  <div *ngFor="let fixture of fixtures2" class="grid justify-items-center mt-8">
    <div class="bg-white rounded-xl p-2 w-2/4 border-2 divide-y space-y-2">
      <div class="flex flex-row gap-2 pb-1">
        <img src="{{fixture.league.flag}}" width="20" height="20"/> {{fixture.league.country}} - {{fixture.league.name}}
      </div>
      <div *ngFor="let fixtureResponse of fixture.response">
        <button (click)="matchDetails(fixtureResponse.fixture.id)" class="grid w-full grid-cols-4 pt-2 hover:bg-gray-200 hover:rounded-xl hover:p-2 hover:my-2">
          <div class="grid justify-items-start text-left">
            {{fixtureResponse.fixture.date.split("T")[1].replace(":00+00:00", "")}}
          </div>
          <div class="grid grid-cols-9 col-span-2">
            <div class="grid justify-items-end col-span-3 text-sm mt-1">
              {{fixtureResponse.teams.home.name}}
            </div>
            <div class="grid justify-items-end">
              <img [src]="fixtureResponse.teams.home.logo" width="30" height="30"/>
            </div>
            <div>
              {{fixtureResponse.goals.home}} - {{fixtureResponse.goals.away}}
            </div>
            <div class="grid justify-items-start">
              <img [src]="fixtureResponse.teams.away.logo" width="30" height="30"/>
            </div>
            <div class="grid justify-items-start col-span-3 text-sm mt-1">
              {{fixtureResponse.teams.away.name}}
            </div>
          </div>
          <div class="italic text-gray-300 text-sm text-right">
            İY {{fixtureResponse.score.halftime.home}}-{{fixtureResponse.score.halftime.away}}
          </div>
        </button>
      </div>
    </div>
  </div>
  </div>
</div>
