<div class="flex flex-col mt-12">
  <div class="flex justify-center">
    <div class="bg-white rounded-xl p-2 w-full sm:w-2/4 border-2">
      <div class="flex flex-col sm:flex-row justify-between">
        <div class="flex flex-col p-4 items-center">
          <div class="font-bold text-xl">
            {{game.teams.home.name}}
          </div>
          <img src="{{game.teams.home.logo}}" width="125" height="125" class="pt-8"/>
        </div>
        <div class="flex flex-row items-center text-3xl gap-4 sm:gap-16">
          <div>
            {{game.scores.home.points}}
          </div>
          <div class="items-center">
            <div class="rounded-xl bg-gray-400 text-white p-1 w-16 text-center text-2xl">
              MS
            </div>
          </div>
          <div>
            {{game.scores.visitors.points}}
          </div>
        </div>
        <div class="flex flex-col p-4 items-center">
          <div class="font-bold text-xl">
            {{game.teams.visitors.name}}
          </div>
          <img src="{{game.teams.visitors.logo}}" width="125" height="125" class="pt-8"/>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="flex flex-row text-sm text-gray-500 items-center">
          {{game.date.start.split("T")[0]}} | Standart | <img src="assets/images/stadium-icon.jpg" width="40" height="40"/> Stat: {{game.arena.name}}
          | <img src="assets/images/whistle-icon.jpg" width="25" height="25"/> Hakem: {{game.officials}}
        </div>
      </div>
      <div class="flex flex-col sm:flex-row sm:gap-40 gap-2 px-4 sm:px-16 mt-4 text-blue-600 border-t pt-2">
        <button (click)="matchSummary()" class="hover:bg-gray-200 hover:rounded-md hover:text-black p-2 focus:text-green-400">
          Detay
        </button>
        <button (click)="h2h()" class="hover:bg-gray-200 hover:rounded-md hover:text-black p-2 focus:text-green-400">
          Karşılaştırma
        </button>
        <button (click)="matchStatistics()" class="hover:bg-gray-200 hover:rounded-md hover:text-black p-2 focus:text-green-400">
          İstatistik
        </button>
        <button (click)="matchComments()" class="hover:bg-gray-200 hover:rounded-md  hover:text-black p-2 focus:p-1 focus:text-green-400">
          Yorum
        </button>
      </div>
    </div>
  </div>
  <div>
    <ng-container *ngComponentOutlet="currentComponent"></ng-container>
  </div>
</div>
