<div class="container mx-auto px-40 mt-12">
  <div class="grid w-full bg-white shadow-md rounded-md px-16 pt-6 pb-8 mb-4">
    <div class="flex justify-end">
      <div *ngIf="!isFavorite; else notFavorite" class="">
        <button (click)="addFavorite()" class="border-2 border-blue-600 text-blue-600 p-1 rounded-md hover:bg-blue-600 hover:text-white">Favori Ekle</button>
      </div>
      <ng-template #notFavorite class="">
        <button (click)="deleteFavorite()" class="border-2 border-blue-600 text-blue-600 p-1 rounded-md hover:bg-blue-600 hover:text-white">Favori</button>
      </ng-template>
    </div>
    <div>
      <div class="flex flex-col sm:flex-row justify-between">
        <div class="p-4">
          <div class="font-bold text-xl text-center">
            {{game.teams.home.name}}
          </div>
          <button (click)="teamPage(game.teams.home.id)">
            <img src="{{game.teams.home.logo}}" width="100" height="100" class="pt-4"/>
          </button>
        </div>
        <div class="flex flex-row items-center text-3xl gap-4 sm:gap-16">
          <div [ngSwitch]="game.status.long">
            <div *ngSwitchCase="'Finished'" class="grid grid-cols-3">
              <div class="grid justify-items-start">
                {{game.scores.home.points}}
              </div>
              <div class="grid justify-items-center rounded-xl bg-gray-400 text-white p-1 w-16 text-center text-2xl">
                MS
              </div>
              <div class="grid justify-items-end">
                {{game.scores.visitors.points}}
              </div>
            </div>
            <div *ngSwitchCase="'live'" class="grid grid-cols-3">
              <div class="grid justify-items-start">
                {{game.scores.home.points}}
              </div>
              <div class="grid justify-items-center rounded-xl bg-gray-400 text-white p-1 w-16 text-center text-2xl">
                MS
              </div>
              <div class="grid justify-items-end">
                {{game.scores.visitors.points}}
              </div>
            </div>
            <div *ngSwitchCase="'Not Started'" class="flex flex-col text-center">
              <div class="text-xl text-green-500">
                {{game.date.start.split("T")[1].split("+")[0]}}
              </div>
              <div>
                V
              </div>
            </div>
          </div>
        </div>
        <div class="p-4">
          <div class="font-bold text-xl text-center">
            {{game.teams.visitors.name}}
          </div>
          <button (click)="teamPage(game.teams.visitors.id)">
            <img src="{{game.teams.visitors.logo}}" width="100" height="100"/>
          </button>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="flex flex-row text-sm text-gray-500 items-center">
          {{game.date.start.split("T")[0].split("+")[0]}} | Standart | <img src="assets/images/stadium-icon.jpg" width="40" height="40"/> Stat: {{game.arena.name}}
          | <img src="assets/images/whistle-icon.jpg" width="25" height="25"/> Hakem: {{game.officials}}
        </div>
      </div>
      <div class="flex flex-col sm:flex-row sm:gap-40 gap-2 px-4 sm:px-16 mt-4 text-blue-600 border-t pt-2">
        <button (click)="matchSummary()" class="hover:bg-gray-200 hover:rounded-md hover:text-black p-2 focus:text-green-400">
          Detay
        </button>
        <button (click)="h2h()" class="hover:bg-gray-200 hover:rounded-md hover:text-black p-2 focus:text-green-400">
          Karşılaştırma
        </button>
        <button (click)="matchStatistics()" class="hover:bg-gray-200 hover:rounded-md hover:text-black p-2 focus:text-green-400">
          İstatistik
        </button>
        <button (click)="matchComments()" class="hover:bg-gray-200 hover:rounded-md  hover:text-black p-2 focus:p-1 focus:text-green-400">
          Yorum
        </button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngComponentOutlet="currentComponent"></ng-container>
