<nav class="bg-blue-800 h-24 p-2 text-white text-center divide-y-2">
  <div class="flex justify-between text-xl pb-4">
    <div>
      MACKOLİK - DEMO
    </div>
    <button class="px-2 text-sm p-1 border-white border-2 rounded-md hover:bg-white hover:text-blue-800 hover:border-2 hover:border-blue-800">
      Giriş Yap
    </button>
  </div>
  <div class="flex flex-row justify-center pt-4 gap-4 divide-x text-sm">
    <button (click)="footballHome()" class="hover:text-gray-200">
      FUTBOL
    </button>
    <button (click)="basketballHome()" class="pl-2 hover:text-gray-200">
      BASKETBOL
    </button>
    <button (click)="formulaHome()" class="pl-2 hover:text-gray-200">
      FORMULA
    </button>
  </div>
</nav>
