<div class="container mx-auto px-40 mt-12 grid grid-cols-2 gap-20">
  <div class="container grid justify-items-end">
    <div class="grid bg-white w-full shadow-md rounded-md px-8 pt-6 pb-8 mb-4 divide-y-2 gap-2">
      <div>
        İlk 11
      </div>
      <div>
        <div *ngFor="let homeTeamStartXI of lineupResponse.response[0].startXI">
          <div>
            {{homeTeamStartXI.player.number}} - {{homeTeamStartXI.player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container grid justify-items-start">
    <div class="grid bg-white shadow-md w-full rounded-md px-8 pt-6 pb-8 mb-4 divide-y-2 gap-2">
      <div>
        İlk 11
      </div>
      <div>
        <div *ngFor="let homeTeamStartXI of lineupResponse.response[1].startXI">
          <div>
            {{homeTeamStartXI.player.number}} - {{homeTeamStartXI.player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-40 mt-12 grid grid-cols-2 gap-20">
  <div class="container grid justify-items-end">
    <div class="grid bg-white w-full shadow-md rounded-md px-8 pt-6 pb-8 mb-4 divide-y-2 gap-2">
      <div>
        Yedekler
      </div>
      <div>
        <div *ngFor="let substitutes of lineupResponse.response[0].substitutes">
          <div>
            {{substitutes.player.number}} - {{substitutes.player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container grid justify-items-start">
    <div class="grid bg-white shadow-md w-full rounded-md px-8 pt-6 pb-8 mb-4 divide-y-2 gap-2">
      <div>
        Yedekler
      </div>
      <div>
        <div>
          <div *ngFor="let substitutes of lineupResponse.response[1].substitutes">
            <div>
              {{substitutes.player.number}} - {{substitutes.player.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
