<div>
  <div class="flex flex-row justify-center pt-4 gap-48">
    <div class="bg-white rounded-xl p-2 w-1/5 border-2 divide-y">
      <div>
        İlk 11
      </div>
      <div>
        <div *ngFor="let homeTeamStartXI of lineupResponse.response[0].startXI">
           <div>
             {{homeTeamStartXI.player.number}} - {{homeTeamStartXI.player.name}}
           </div>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-xl p-2 w-1/5 border-2 divide-y">
      <div>
        İlk 11
      </div>
      <div>
        <div *ngFor="let homeTeamStartXI of lineupResponse.response[1].startXI">
          <div>
            {{homeTeamStartXI.player.number}} - {{homeTeamStartXI.player.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pt-4 gap-48">
    <div class="bg-white rounded-xl p-2 w-1/5 border-2 divide-y">
      <div>
        Yedekler
      </div>
      <div>
        <div *ngFor="let substitutes of lineupResponse.response[0].substitutes">
          <div>
            {{substitutes.player.number}} - {{substitutes.player.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-xl p-2 w-1/5 border-2">
      <div>
        Yedekler
      </div>
      <div>
        <div>
          <div *ngFor="let substitutes of lineupResponse.response[1].substitutes">
            <div>
              {{substitutes.player.number}} - {{substitutes.player.name}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
