<div>
  <div class="flex flex-row justify-center pt-4 gap-48">
    <div class="bg-white rounded-xl p-2 w-1/5 border-2 divide-y">
      <div>
        İlk 11
      </div>
      <div>
        <div class="mt-2">
           1 - Fred
        </div>
        <div>
           2 - Fred
        </div>
        <div>
          3 - Fred
        </div>
        <div>
          4 - Fred
        </div>
        <div>
          5 - Fred
        </div>
        <div>
          6 - Fred
        </div>
        <div>
          7 - Fred
        </div>
        <div>
          8 - Fred
        </div>
        <div>
          9 - Fred
        </div>
        <div>
          10 - Fred
        </div>
        <div>
          11 - Fred
        </div>
      </div>
    </div>
    <div class="bg-white rounded-xl p-2 w-1/5 border-2 divide-y">
      <div>
        İlk 11
      </div>
      <div>
        <div class="mt-2">
          1 - Fred
        </div>
        <div>
          2 - Fred
        </div>
        <div>
          3 - Fred
        </div>
        <div>
          4 - Fred
        </div>
        <div>
          5 - Fred
        </div>
        <div>
          6 - Fred
        </div>
        <div>
          7 - Fred
        </div>
        <div>
          8 - Fred
        </div>
        <div>
          9 - Fred
        </div>
        <div>
          10 - Fred
        </div>
        <div>
          11 - Fred
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pt-4 gap-48">
    <div class="bg-white rounded-xl p-2 w-1/5 border-2 divide-y">
      <div>
        Yedekler
      </div>
      <div>
        <div class="mt-2">
          20 - Fred
        </div>
        <div>
          21 - Fred
        </div>
        <div>
          22 - Fred
        </div>
        <div>
          23 - Fred
        </div>
        <div>
          24 - Fred
        </div>
        <div>
          25 - Fred
        </div>
        <div>
          26 - Fred
        </div>
        <div>
          27 - Fred
        </div>
        <div>
          28 - Fred
        </div>
      </div>
    </div>
    <div class="bg-white rounded-xl p-2 w-1/5 border-2">
      <div>
        Yedekler
      </div>
      <div>

        <div class="mt-2">
          20 - Fred
        </div>
        <div>
          21 - Fred
        </div>
        <div>
          22 - Fred
        </div>
        <div>
          23 - Fred
        </div>
        <div>
          24 - Fred
        </div>
        <div>
          25 - Fred
        </div>
        <div>
          26 - Fred
        </div>
        <div>
          27 - Fred
        </div>
        <div>
          28 - Fred
        </div>
      </div>
    </div>
  </div>
</div>
