<div class="container mx-auto px-40 mt-32">
  <div class="grid grid-cols-2 w-full bg-white shadow-md rounded-md px-8 pt-6 pb-8 mb-4">
    <div class="grid col-span-2 justify-items-center text-3xl">
      {{team.name}}
    </div>
    <div class="grid grid-cols-4 col-span-2">
      <div class="grid col-span-2 mt-8">
        <img src="{{team.logo}}" height="300" width="300" >
      </div>
      <div class="grid grid-cols-2 col-span-2 gap-2">
        <div class="text-gray-400 mt-8">
          Ana Operasyon Merkezi
        </div>
        <div class="mt-8">
          {{team.base}}
        </div>
        <div class="text-gray-400 ">
          Formula1 İlk Katılım Tarihi
        </div>
        <div class="">
          {{team.first_team_entry}}
        </div>
        <div class="text-gray-400 ">
          Dünya Şampiyonluğu
        </div>
        <div class="">
          {{team.world_championships}}
        </div>
        <div class="text-gray-400 ">
          En Yüksek Sıralama
        </div>
        <div class="">
          {{team.highest_race_finish.position}}
        </div>
        <div class="text-gray-400 ">
          En Yüksek Sıralama Sayısı
        </div>
        <div class="">
          {{team.highest_race_finish.number}}
        </div>
        <div class="text-gray-400 ">
          Pole Pozisyon Sayısı
        </div>
        <div class="">
          {{team.pole_positions}}
        </div>
        <div class="text-gray-400 ">
          Başkan
        </div>
        <div class="">
          {{team.president}}
        </div>
        <div class="text-gray-400">
          Direktör
        </div>
        <div class="">
          {{team.director}}
        </div>
        <div class="text-gray-400 ">
          Teknik Müdür
        </div>
        <div class="">
          {{team.technical_manager}}
        </div>
        <div class="text-gray-400 ">
          Şasi
        </div>
        <div class="">
          {{team.chassis}}
        </div>
        <div class="text-gray-400 ">
          Motor
        </div>
        <div class="">
          {{team.engine}}
        </div>
        <div class="text-gray-400 ">
          Lastik
        </div>
        <div class="">
          {{team.tyres}}
        </div>
      </div>
    </div>
  </div>
</div>


