<div class="flex justify-center flex-col mt-4 gap-2">
  <div class="flex flex-row justify-center gap-x-60">
    <div>
      %40
    </div>
    <div>
      Topla Oynama
    </div>
    <div class="text-blue-600">
      %60
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div class="text-blue-600">
      %60
    </div>
    <div>
      Topla Oynama
    </div>
    <div>
      %40
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div>
      %40
    </div>
    <div>
      Topla Oynama
    </div>
    <div class="text-blue-600">
      %60
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div class="text-blue-600">
      %60
    </div>
    <div>
      Topla Oynama
    </div>
    <div>
      %40
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div>
      %40
    </div>
    <div>
      Topla Oynama
    </div>
    <div class="text-blue-600">
      %60
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div class="text-blue-600">
      %60
    </div>
    <div>
      Topla Oynama
    </div>
    <div>
      %40
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div>
      %40
    </div>
    <div>
      Topla Oynama
    </div>
    <div class="text-blue-600">
      %60
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-r-md"></div>
  </div>
  <div class="flex flex-row justify-center gap-x-60">
    <div class="text-blue-600">
      %60
    </div>
    <div>
      Topla Oynama
    </div>
    <div>
      %40
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid justify-items-end">
      <div [style.width.px]="height1" class="h-3 bg-blue-500 rounded-l-md"></div>
    </div>
    <div [style.width.px]="height2" class="h-3 bg-red-500 rounded-r-md"></div>
  </div>
</div>
