
<div class="flex flex-col items-center mt-12 px-20">
  <div *ngFor="let race of races$; let i = index" class="bg-white rounded-xl p-2 w-3/4 border-2 mb-4">
    <button (click)="toggleDetails(i)" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
      <div class="flex flex-row text-sm gap-6 justify-start">
        <div class="font-bold">
        </div>
        <div class="font-bold">
          {{race.date.replace("T", " ").replace("+00:00", " ")}}
        </div>
      </div>
      <div class="flex-1 flex justify-center items-center">
        <div class="flex flex-row gap-2 font-quicksand items-center">
          <div>
            {{race.competition.name}}
          </div>
        </div>
      </div>
    </button>
    <div [class.hidden]="openDetails !== i">
      <div class="flex flex-row gap-4 text-sm">
        <div class="py-20">
          <img src="{{race.circuit.image}}" width="350" height="350"/>
        </div>

        <div class="flex flex-col divide-y-2">
          <div class="flex flex-row gap-2 py-0.5">
            <div>
              {{race.competition.name}}'i
            </div>
            <div class="text-gray-600">
              | {{race.competition.location.country}}, {{race.competition.location.city}}
            </div>
          </div>
          <div class="py-0.5 flex flex-row gap-2">
            {{race.type}} |
            <div class="text-gray-600">
              {{race.date.split("T")[0]}}
            </div>
            <div class="text-gray-600">
              | {{race.date.split("T")[1].replace("+00:00", "")}}
            </div>
          </div>
          <div class="py-0.5 flex flex-row gap-2">
            {{race.circuit.name}}
            <div class="text-gray-600">
              | {{race.laps.total}} Tur
            </div>
            <div class="text-gray-600">
              | {{race.distance}}
            </div>
          </div>
          <div class="grid grid-cols-4 gap-4 mb-2 pt-2">
            <button (click)="changeRace('1st Qualifying')" class="bg-blue-600 text-white p-2 rounded-md hover:bg-white hover:border-blue-600 hover:border-2 hover:text-blue-600">1. Eleme</button>
            <button (click)="changeRace('2nd Qualifying')" class="bg-blue-600 text-white p-2 rounded-md hover:bg-white hover:border-blue-600 hover:border-2 hover:text-blue-600">2. Eleme</button>
            <button (click)="changeRace('3rd Qualifying')" class="bg-blue-600 text-white p-2 rounded-md hover:bg-white hover:border-blue-600 hover:border-2 hover:text-blue-600">3. Eleme</button>
            <button (click)="changeRace('race')" class="bg-blue-600 text-white p-2 rounded-md hover:bg-white hover:border-blue-600 hover:border-2 hover:text-blue-600">Yarış</button>
          </div>
          <div>
            <table class="items-center bg-transparent w-full border-collapse mt-4 text-center">
              <thead>
              <tr>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Sürücüler
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Pozisyon
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  En Hızlı Tur
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Pit
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Takım
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Tur
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let ranks of ranking$">
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-700 gap-1 flex flex-row items-center">
                  <img src="{{ranks.driver.image}}" width="40" height="40"><button (click)="showDriver(ranks.driver.id)" class="hover:text-blue-400">{{ranks.driver.name}}</button>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center">
                  {{ranks.position}}
                </td>
                <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.time}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.pits}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.team.name}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.laps}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

