<div class="flex justify-center mt-4">
  <div class="relative mt-2 rounded-md shadow-sm">
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
      <span class="text-gray-500 sm:text-sm"><img src="assets/images/search.svg" width="15" height="15"/></span>
    </div>
    <input
      type="text"
      name="price"
      id="price"
      class="block w-full rounded-md border-0 py-1.5 pl-10 pr-20 text-gray-900 ring-1 ring-inset ring-blue-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
      placeholder="Search..."
    />
  </div>
</div>
<div class="flex flex-col items-center mt-12 px-20">
  <div *ngFor="let race of races$; let i = index" class="bg-white rounded-xl p-2 w-3/4 border-2 mb-4">
    <button (click)="toggleDetails(i)" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
      <div class="flex flex-row text-sm gap-6 justify-start">
        <div class="font-bold">
          <!--<img src="{{countries[i]}}" width="30" height="30"/> -->
        </div>
        <div class="font-bold">
          {{race.date.replace("T", " ").replace("+00:00", " ")}}
        </div>
      </div>
      <div class="flex-1 flex justify-center items-center">
        <div class="flex flex-row gap-2 font-quicksand items-center">
          <div>
            {{race.competition.name}}
          </div>
        </div>
      </div>
    </button>
    <div [class.hidden]="openDetails !== i">
      <div class="flex flex-row gap-4 text-sm bg-blue-600">
        <div class="py-20">
          <img src="{{race.circuit.image}}" width="350" height="350"/>
        </div>

        <div class="flex flex-col divide-y-2">
          <div class="flex flex-row gap-2 py-0.5">
            <!--<img src="https://media.api-sports.io/flags/bh.svg" width="20" height="20"/> -->
            <div>
              {{race.competition.name}}'i
            </div>
            <div class="text-gray-600">
              | {{race.competition.location.country}}, {{race.competition.location.city}}
            </div>
          </div>
          <div class="py-0.5 flex flex-row gap-2">
            {{race.type}} |
            <div class="text-gray-600">
              {{race.date.split("T")[0]}}
            </div>
            <div class="text-gray-600">
              | {{race.date.split("T")[1].replace("+00:00", "")}}
            </div>
          </div>
          <div class="py-0.5 flex flex-row gap-2">
            {{race.circuit.name}}
            <div class="text-gray-600">
              | {{race.laps.total}} Tur
            </div>
            <div class="text-gray-600">
              | {{race.distance}}
            </div>
          </div>
          <div>
            <table class="items-center bg-transparent w-full border-collapse mt-4 text-center">
              <thead>
              <tr>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Sürücüler
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Pozisyon
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  En Hızlı Tur
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Pit
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Takım
                </th>
                <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                  Tur
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let ranks of ranking$">
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-blueGray-700 gap-1 flex flex-row items-center">
                  <img src="{{ranks.driver.image}}" width="40" height="40">{{ranks.driver.name}}
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center">
                  {{ranks.position}}
                </td>
                <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.time}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.pits}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.team.name}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  {{ranks.laps}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

