<div class="flex flex-col mt-4">
  <div class="flex justify-center">
    <div class="bg-white rounded-xl p-2 w-2/4 border-2">
      <div>
        Karşılaştırma
      </div>
      <div>
        <button (click)="matchDetails()" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="flex flex-row gap-2 text-sm text-center">
            <div class="italic">
              13/03/2024
            </div>
          </div>
          <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
            <div>
              Fenerbahçe
            </div>
            <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
            <div class="hover:border-b hover:border-black">
              1 - 1
            </div>
            <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
            <div>
              Beşiktaş
            </div>
          </div>
          <div class="italic text-gray-300 text-sm">
            İY 0-1
          </div>
        </button>
        <button (click)="matchDetails()" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="flex flex-row gap-2 text-sm text-center">
            <div class="italic">
              13/03/2024
            </div>
          </div>
          <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
            <div class="font-bold">
              Fenerbahçe
            </div>
            <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
            <div class="hover:border-b hover:border-black">
              2 - 1
            </div>
            <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
            <div>
              Beşiktaş
            </div>
          </div>
          <div class="italic text-gray-300 text-sm">
            İY 1-1
          </div>
        </button>
        <button (click)="matchDetails()" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="flex flex-row gap-2 text-sm text-center">
            <div class="italic">
              13/03/2024
            </div>
          </div>
          <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
            <div class="font-bold">
              Beşiktaş
            </div>
            <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
            <div class="hover:border-b hover:border-black">
              2 - 1
            </div>
            <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
            <div>
              Fenerbahçe
            </div>
          </div>
          <div class="italic text-gray-300 text-sm">
            İY 1-1
          </div>
        </button>
        <button (click)="matchDetails()" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="flex flex-row gap-2 text-sm text-center">
            <div class="italic">
              13/03/2024
            </div>
          </div>
          <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
            <div class="font-bold">
              Fenerbahçe
            </div>
            <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
            <div class="hover:border-b hover:border-black">
              2 - 1
            </div>
            <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
            <div>
              Beşiktaş
            </div>
          </div>
          <div class="italic text-gray-300 text-sm">
            İY 1-1
          </div>
        </button>
        <button (click)="matchDetails()" class="flex justify-between pt-2 items-center hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="flex flex-row gap-2 text-sm text-center">
            <div class="italic">
              13/03/2024
            </div>
          </div>
          <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
            <div>
              Fenerbahçe
            </div>
            <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
            <div class="hover:border-b hover:border-black">
              0 - 0
            </div>
            <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
            <div>
              Beşiktaş
            </div>
          </div>
          <div class="italic text-gray-300 text-sm">
            İY 0-0
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pt-4">
    <div class="bg-white rounded-xl p-2 w-1/4 border-2">
      <div>
        Son Maçlar
      </div>
      <div class="flex justify-center divide-y-2">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Fenerbahçe
          </div>
          <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 0
          </div>
          <img src="https://media.api-sports.io/football/teams/607.png" width="30" height="30"/>
          <div>
            Konyaspor
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            İstanbul Başakşehir
          </div>
          <img src="https://media.api-sports.io/football/teams/564.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            0 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
          <div>
            Fenerbahçe
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Fenerbahçe
          </div>
          <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 0
          </div>
          <img src="https://media.api-sports.io/football/teams/996.png" width="30" height="30"/>
          <div>
            Alanyaspor
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Fenerbahçe
          </div>
          <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/645.png" width="30" height="30"/>
          <div>
            Galatasaray
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Fenerbahçe
          </div>
          <img src="https://media.api-sports.io/football/teams/611.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/1002.png" width="30" height="30"/>
          <div>
            Sivasspor
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-xl p-2 w-1/4 border-2">
      <div>
        Son Maçlar
      </div>
      <div class="flex justify-center divide-y-2">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 0
          </div>
          <img src="https://media.api-sports.io/football/teams/607.png" width="30" height="30"/>
          <div>
            Konyaspor
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            İstanbul Başakşehir
          </div>
          <img src="https://media.api-sports.io/football/teams/564.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            0 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div>
            Beşiktaş
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 0
          </div>
          <img src="https://media.api-sports.io/football/teams/996.png" width="30" height="30"/>
          <div>
            Alanyaspor
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/645.png" width="30" height="30"/>
          <div>
            Galatasaray
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/1002.png" width="30" height="30"/>
          <div>
            Sivasspor
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
