<div class="flex flex-col mt-4">
  <div class="flex justify-center">
    <div class="bg-white rounded-xl p-2 w-2/4 border-2">
      <div>
        Karşılaştırma
      </div>
      <div *ngFor="let h2h of headToHead.response">
        <button (click)="matchDetails()" class="grid grid-cols-4 pt-2 hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="grid justify-items-start text-sm">
              {{h2h.fixture.date.split("T")[0]}}
          </div>
          <div class="grid grid-cols-9 col-span-2">
            <div class="grid justify-items-end col-span-3">
              {{h2h.teams.home.name}}
            </div>
            <div class="grid justify-items-end">
              <img src="{{h2h.teams.home.logo}}" width="30" height="30"/>
            </div>
            <div>
              {{h2h.goals.home}} - {{h2h.goals.away}}
            </div>
            <div class="grid justify-items-start">
              <img src="{{h2h.teams.away.logo}}" width="30" height="30"/>
            </div>
            <div class="grid justify-items-start col-span-3">
              {{h2h.teams.away.name}}
            </div>
          </div>
          <div class="grid justify-items-end">
            İY {{h2h.score.halftime.home}}-{{h2h.score.halftime.away}}
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-center pt-4">
    <div class="bg-white rounded-xl p-2 w-1/4 border-2">
      <div>
        Son Maçlar
      </div>
      <div *ngFor="let homeTeamFixture of homeTeamFixtures">
        <div>
          <button class="grid grid-cols-5">
            <div class="grid justify-items-start">
              {{homeTeamFixture.teams.home.name}}
            </div>
            <div class="grid justify-items-start">
              <img src="{{homeTeamFixture.teams.home.logo}}" width="30" height="30"/>
            </div>
            <div>
              {{homeTeamFixture.score.fulltime.home}} - {{homeTeamFixture.score.fulltime.away}}
            </div>
            <div class="grid justify-items-end">
              <img src="{{homeTeamFixture.teams.away.logo}}" width="30" height="30"/>
            </div>
            <div class="grid justify-items-end">
              {{homeTeamFixture.teams.away.name}}
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-xl p-2 w-1/4 border-2">
      <div>
        Son Maçlar
      </div>
      <div class="flex justify-center divide-y-2">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 0
          </div>
          <img src="https://media.api-sports.io/football/teams/607.png" width="30" height="30"/>
          <div>
            Konyaspor
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            İstanbul Başakşehir
          </div>
          <img src="https://media.api-sports.io/football/teams/564.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            0 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div>
            Beşiktaş
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 0
          </div>
          <img src="https://media.api-sports.io/football/teams/996.png" width="30" height="30"/>
          <div>
            Alanyaspor
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/645.png" width="30" height="30"/>
          <div>
            Galatasaray
          </div>
        </div>
      </div>
      <div class="flex justify-center divide-y-2 mt-1">
        <div class="flex flex-row gap-2 font-quicksand items-center text-sm">
          <div>
            Beşiktaş
          </div>
          <img src="https://media.api-sports.io/football/teams/549.png" width="30" height="30"/>
          <div class="hover:border-b hover:border-black">
            2 - 1
          </div>
          <img src="https://media.api-sports.io/football/teams/1002.png" width="30" height="30"/>
          <div>
            Sivasspor
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
