<div class="container mx-auto px-40 mt-12">
  <div class="w-full bg-white shadow-md rounded-md px-16 pt-6 pb-8 mb-4 divide-y-2">
    <div class="grid grid-cols-4 w-full py-4">
      <div class="grid col-span-3 mt-8 text-3xl">
        Fikstür
      </div>
      <div class="grid justify-items-end">
        <label for="season-select" class="font-quicksand leading-6 text-gray-900 gap-4">
          Sezon
        </label>
        <div class="mt-4">
          <select id="season-select" name="season-select" [(ngModel)]="selectedYear" (change)="onSelectSeason(selectedYear)" class="block w-48 rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
            <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngFor="let game of games.response">
      <div class="py-2">
          <div class="grid grid-cols-9 mt-4">
            <div class="text-sm text-gray-400">
              {{game.date.start.split("T")[0]}}
            </div>
            <div class="grid col-span-2">
              {{game.teams.home.name}}
            </div>
            <div class="grid justify-items-end">
              <img src="{{game.teams.home.logo}}" width="30" height="30"/>
            </div>
            <div [ngSwitch]="game.status.long">
              <div *ngSwitchCase="'Finished'" class="grid grid-cols-3">
                <div class="grid justify-items-end">
                  {{game.scores.home.points}}
                </div>
                <div class="grid justify-items-center">
                  -
                </div>
                <div class="grid justify-items-start">
                  {{game.scores.visitors.points}}
                </div>
              </div>
              <div *ngSwitchCase="'Not Started'" class="grid justify-items-center">
                <div>V</div>
              </div>
            </div>
            <div class="grid justify-items-start">
              <img src="{{game.teams.visitors.logo}}" width="30" height="30"/>
            </div>
            <div class="grid col-span-2 justify-items-end">
              {{game.teams.visitors.name}}
            </div>
            <div class="grid justify-items-end text-sm text-gray-400">
              İY
              {{(parseInt(game.scores.home.linescore[0]) + parseInt(game.scores.home.linescore[1]))}}-{{(parseInt(game.scores.visitors.linescore[0]) + parseInt(game.scores.visitors.linescore[1]))}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
