<div class="flex flex-col mt-4">
  <div class="flex justify-center">
    <div class="bg-white rounded-xl p-2 w-2/4 border-2">
      <div>
        Karşılaştırma
      </div>
      <div *ngFor="let h2h of h2hResponses">
        <button (click)="matchDetails()" class="grid grid-cols-4 pt-2 hover:bg-gray-200 hover:rounded-xl hover:p-2 w-full">
          <div class="grid justify-items-start text-sm">
            {{h2h.date.start.split("T")[0]}}
          </div>
          <div class="grid grid-cols-9 col-span-2 w-full">
            <div class="grid justify-items-end col-span-3">
              {{h2h.teams.home.name}}
            </div>
            <div class="grid justify-items-end">
              <img src="{{h2h.teams.home.logo}}" width="40" height="40"/>
            </div>
            <div class="text-sm mt-1">
              {{h2h.scores.home.points}} - {{h2h.scores.visitors.points}}
            </div>
            <div class="grid justify-items-start">
              <img src="{{h2h.teams.visitors.logo}}" width="40" height="40"/>
            </div>
            <div class="grid justify-items-start col-span-3">
              {{h2h.teams.visitors.name}}
            </div>
          </div>
          <div class="grid justify-items-end">
            İY {{(parseInt(h2h.scores.home.linescore[0]) + parseInt(h2h.scores.home.linescore[1]))}}-{{(parseInt(h2h.scores.visitors.linescore[0]) + parseInt(h2h.scores.visitors.linescore[1]))}}
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
