<div class="container mx-auto px-40 mt-12">
  <div class="grid w-full bg-white shadow-md rounded-md px-16 pt-6 pb-8 mb-4">
    <div class="grid grid-cols-1">
      <div class="grid justify-items-end p-2">
        <button (click)="addComment()" class="border-2 border-blue-600 text-blue-600 p-1 rounded-md hover:bg-blue-600 hover:text-white">Yorum Ekle</button>
      </div>
    </div>
    <div *ngFor="let comment of comments">
      <div class="p-2 hover:bg-gray-100 hover:p-2 mt-2">
        <div class="flex flex-row justify-between">
          <div class="text-blue-600 font-semibold">
            {{comment.footballFan.firstName}} {{comment.footballFan.lastName}}
          </div>
          <div class="text-gray-400 text-sm">
            {{comment.date.split("T")[0]}}
          </div>
        </div>
        <div class="mt-2 text-sm">
          {{comment.content}}
        </div>
      </div>
    </div>
  </div>
</div>
