<div class="flex justify-center py-4">
  <div class="bg-white w-1/2 divide-y-2 rounded-xl">
    <div class="p-2 hover:bg-gray-100 hover:p-2">
      <div class="flex flex-row justify-between">
        <div class="text-blue-600 font-semibold">
          Kullanici Adi
        </div>
        <div class="text-gray-400 text-sm">
          12.02.2024 | 22:19
        </div>
      </div>
      <div class="mt-2 text-sm">
        Maç çok keyifliydi atak ve hücum organizasyonları gerçekten harikaydı. Bu tür Şeyleri
        diğer maçlarda da görmek harika olur. Umarım bundan sonraki maçlarda bu maç kadar eğlenceli ve sürükleyici olur.
      </div>
    </div>
    <div class="p-2 hover:bg-gray-100 hover:p-2">
      <div class="flex flex-row justify-between">
        <div class="text-blue-600 font-semibold">
          Kullanici Adi
        </div>
        <div class="text-gray-400 text-sm">
          12.02.2024 | 22:19
        </div>
      </div>
      <div class="mt-2 text-sm">
        Maç çok keyifliydi atak ve hücum organizasyonları gerçekten harikaydı. Bu tür Şeyleri
        diğer maçlarda da görmek harika olur. Umarım bundan sonraki maçlarda bu maç kadar eğlenceli ve sürükleyici olur.
      </div>
    </div>
    <div class="p-2 hover:bg-gray-100 hover:p-2">
      <div class="flex flex-row justify-between">
        <div class="text-blue-600 font-semibold">
          Kullanici Adi
        </div>
        <div class="text-gray-400 text-sm">
          12.02.2024 | 22:19
        </div>
      </div>
      <div class="mt-2 text-sm">
        Maç çok keyifliydi atak ve hücum organizasyonları gerçekten harikaydı. Bu tür Şeyleri
        diğer maçlarda da görmek harika olur. Umarım bundan sonraki maçlarda bu maç kadar eğlenceli ve sürükleyici olur.
      </div>
    </div>
    <div class="p-2 hover:bg-gray-100 hover:p-2">
      <div class="flex flex-row justify-between">
        <div class="text-blue-600 font-semibold">
          Kullanici Adi
        </div>
        <div class="text-gray-400 text-sm">
          12.02.2024 | 22:19
        </div>
      </div>
      <div class="mt-2 text-sm">
        Maç çok keyifliydi atak ve hücum organizasyonları gerçekten harikaydı. Bu tür Şeyleri
        diğer maçlarda da görmek harika olur. Umarım bundan sonraki maçlarda bu maç kadar eğlenceli ve sürükleyici olur.
      </div>
    </div>
    <div class="p-2 hover:bg-gray-100 hover:p-2">
      <div class="flex flex-row justify-between">
        <div class="text-blue-600 font-semibold">
          Kullanici Adi
        </div>
        <div class="text-gray-400 text-sm">
          12.02.2024 | 22:19
        </div>
      </div>
      <div class="mt-2 text-sm">
        Maç çok keyifliydi atak ve hücum organizasyonları gerçekten harikaydı. Bu tür Şeyleri
        diğer maçlarda da görmek harika olur. Umarım bundan sonraki maçlarda bu maç kadar eğlenceli ve sürükleyici olur.
      </div>
    </div>
  </div>
</div>
